@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  ---VeryDarkBlue--: hsl(235, 21%, 11%);
  ---VeryDarkDesaturatedBlue--: hsl(235, 24%, 19%);
  ---LightGrayishBlue--: hsl(234, 39%, 85%);
  ---LightGrayishBlueHover--: hsl(236, 33%, 92%);
  ---DarkGrayishBlue--: hsl(234, 11%, 52%);
  ---VeryDarkGrayishBlue--: hsl(233, 14%, 35%);
  ---VeryDarkGrayishBlue--: hsl(237, 14%, 26%);
  ---CHECKED--: hsl(192, 100%, 67%);
}

/* [data-theme="light"] {
  background-image: url(./images/bg-desktop-light.jpg);
  ---VeryDarkBlue--: hsl(0, 0%, 98%);
  ---VeryDarkDesaturatedBlue--: hsl(236, 33%, 92%);
  ---LightGrayishBlue--: hsl(233, 11%, 84%);
  ---LightGrayishBlueHover--: hsl(236, 9%, 61%);
  ---VeryDarkGrayishBlue--: hsl(235, 19%, 35%);
} */

body {
  background-image: url(/images/bg-desktop-dark.jpg);
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  background-color: var(---VeryDarkBlue--);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  color: var(---LightGrayishBlue--);
  height: auto;
  position: absolute;
}

.app {
  height: auto;
  max-width: 540px;
}

.logo {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.input-task {
  width: 540px;
  height: 70px;
  background-color: var(---VeryDarkDesaturatedBlue--);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding-left: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.input-text {
  width: 100%;
  height: 70px;
  background-color: transparent;
  border: none;
  color: var(---LightGrayishBlue--);
}

.input-text[type="text"] {
  font-size: 18px;
  font-weight: 400;
}

.input-text:focus {
  outline: none;
}

.checkbox1 {
  width: 30px;
  height: 26px;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid var(---LightGrayishBlue--);
}

.checkbox1:hover {
  cursor: pointer;
}

.list {
  position: relative;
  display: flex;
  width: 540px;
  height: 70px;
  background-color: var(---VeryDarkDesaturatedBlue--);
  flex-direction: row;
  text-align: left;
  padding-left: 50px;
  align-items: center;
  border-bottom: 1px solid var(---VeryDarkGrayishBlue--);
}

.list-items {
  cursor: grab;
  display: flex;
  flex-direction: column;
}

.completed {
  background-color: transparent;
  border: 1px solid #484b6a;
  border-radius: 50%;
  cursor: pointer;
  height: 23px;
  overflow: hidden;
  position: relative;
  transition: border 0.3s ease;
  width: 23px;
}

#checked {
  background-image: url(./images/icon-check.svg),
    linear-gradient(180deg, #57ddff, #c058f3);
  background-repeat: no-repeat;
  background-position: 50%, -50%;
}

.tasks {
  margin-right: auto;
  margin-left: 10px;
}

.close-btn {
  cursor: pointer;
  margin-right: 10px;
}

.pre-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: var(---VeryDarkDesaturatedBlue--);
}

.pre-footer > p {
  padding: 1.5rem;
  text-align: center;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: var(---VeryDarkDesaturatedBlue--);
}

.clear-completed {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(---DarkGrayishBlue--);
}

.clear-completed:hover {
  color: var(---LightGrayishBlue--);
}

.footer-items {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-top: 25px;
  justify-content: space-around;
  color: var(---DarkGrayishBlue--);
}

.extra {
  color: #9394a5;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 50px;
  text-align: center;
}

.treasure {
  margin-top: 1rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(---LightGrayishBlue--);
}

.task-filter {
  width: 100%;
  height: 70px;
  background-color: var(---VeryDarkDesaturatedBlue--);
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.task-filter > button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(---DarkGrayishBlue--);
}

.task-filter > button:hover {
  color: var(---LightGrayishBlue--);
}

/* RESPONSIVNESS FOR TABLETS */
@media screen and (max-width: 500px) {
  body {
    background-image: url(images/bg-desktop-dark.jpg);
    width: 200px;
    background-repeat: no-repeat;
  }

  .app {
    margin-left: 180px;
  }

  .logo {
    justify-content: space-evenly;
  }

  .input-task {
    width: 350px;
  }

  .list {
    width: 350px;
  }

  .pre-footer {
    width: 350px;
  }
  .footer {
    width: 350px;
  }

  .task-filter {
    width: 350px;
  }
}
